/* Responsive Design HOA Code */

body { 
	padding:0; 
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}
.clearfix {
	clear:none;
}

.container {
	width:960px;
	margin:0 auto;
}

/* Header and Nav */
.header {
	min-height:50px;
	background-color:rgba(120,100,110,1.0);
}
.header .nav {
	padding:10px 0px;
}
.header .nav a {
	padding:10px 10px;
	text-decoration:none;
	background-color:rgba(120,100,110,1.0);
	font-size:25px;
	color:rgba(100,150,130,1.0);
}

/* Content Boxes */
.content {
	margin-top:50px;
}
.box {
	width:305px;
	float:left;
	min-height:200px;
	padding:5px;
	background-color:rgba(100,120,110,1.0);
}
.box:first-of-type {
	margin-right:5px;
}
.box:last-of-type {
	margin-left:5px;
}

@media screen and (max-width:960px) {
	.container {
		width:720px;
	}
	.clearfix { clear:both; }
	.box {
		width:345px;
	}
	.box:first-of-type {
		margin-right:5px;
	}
	.box:last-of-type {
		float:none;
		width:500px;
		margin:0 auto;
		margin-top:5px;
	}
}
@media screen and (max-width:720px) {
	.container {
		width:100%;
	}
	.box {
		width:100%;
		float:none;
		margin-top:20px;
	}
	.box:last-of-type {
		margin-top:20px;
		width:100%;
	}
	.header .nav { padding:0; }
	.header .nav a {
		display:inline-block;
		width:100%;
	}
}